*{
  transition-property: all;
  transition-duration: 0.5s;
}
body{
  font-family: "Montserrat";
  font-weight: 100;
}
#title{
  background-color: #ff4c68;
  color: #fff;


}
.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 800;

}

.row{
  margin-top: 50px;
}
/* navigation bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
p{
  color:#8f8f8f
}
.nav-link{
  font-size: 1.5rem;
  font-weight: 200;
}
.icon{
  color: #ef8172;
  margin-bottom: 2rem;
  width: 100px;
}
.icon:hover{
  color: #ff4c68;
}
/* download buttons */
download buttons{
  margin: 14% 8%;
}
/* title image */
.title-image{
  width: 60%;
  transform: rotate(27deg);

}
@keyframes vibrate {
  0%{
    transform:rotate(30deg);
  }
  20%{
    transform:rotate(3deg);
    opacity:0.5;
  }
  50%{
    transform:rotate(-20deg);
    opacity:1;
  }
  100%{
    transform:rotate(30deg);
  }

}
.title-image:hover{
  animation:vibrate 1000ms linear infinite;
}
/* feature */
#features{
  padding: 10% 15%;
  background-color: #fff;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
h2{
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.5;
}
h3{
  font-style: "Montserrat";
  font-weight: 800;
}
/* testimonial */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  border-radius: 100%;
  padding: 40px;
  width: 300px;
  
}
.testimonial-image:hover{
 filter:drop-shadow(0 0 15px black);
  
}

.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/* cards */
.card{
  margin: 10px 100px;
  border: 0;
  border-width: 0px;
  border-left-width:  0px;
}
.pricing{
  text-align: center;
}
#pricing{
  text-align: center;
  margin-top: 100px;

}
.move{
  position: relative;
  top: -200px;
}
@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    transform: rotate(0);

  }
}

.cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 15% 8%;

}
.cta-h3{
  font-family: "Montserrat";
  font-weight: 800;
  color: #fff;
}
